<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.mr_wrong.androidstudioproject"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.com.mr_wrong.KLogApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme3">
        <activity
            android:name="com.com.mr_wrong.NewTypeStartActivity.NewMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.com.mr_wrong.Bezier.BezierActivity"></activity>
        <activity android:name="com.com.mr_wrong.AsyncTask.AsyncTaskActivity"></activity>
        <activity android:name="com.com.mr_wrong.ImageLoaderWithCaches.ImageLoaderActivity"></activity>
        <activity
            android:name="com.com.mr_wrong.RecyclerView.RecyclerViewActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="com.com.mr_wrong.RecyclerView.StaggeredGridLayoutActivity"></activity>
        <activity android:name="com.com.mr_wrong.Scroller.ScrollActivity"></activity>
        <activity android:name="com.com.mr_wrong.RecyclerViewItemAnimator.ItemAnimatorActivity"></activity>
        <activity android:name="com.com.mr_wrong.VolleyAndGson.VolleyActivity"></activity>
        <activity android:name="com.com.mr_wrong.NumberProgressBar.NumberProgressBarActivity"></activity>
        <activity android:name="com.com.mr_wrong.ViewDraghelper.MainActivity"></activity>
        <activity android:name="com.com.mr_wrong.ViewDraghelper.DragActivity"></activity>
        <activity android:name="com.com.mr_wrong.ViewDraghelper.YoutuboActivity"></activity>
        <activity android:name="com.com.mr_wrong.PopButton.PopButtonActivity"></activity>

        <activity android:name="com.com.mr_wrong.SlideView.SlideActivity"></activity>
        <activity android:name="com.com.mr_wrong.Actionbar.ActionbarActivity"></activity>
        <activity android:name="com.com.mr_wrong.Property_Animation.myLayoutTransition"></activity>
        <activity
            android:name="com.com.mr_wrong.Property_Animation.PActivity"
            android:theme="@style/Translucent"></activity>
        <activity android:name="com.com.mr_wrong.GaoFeng.GFMainActivity"></activity>
        <activity android:name="com.com.mr_wrong.Property_Animation.AnimActivity"></activity>
        <activity android:name="com.com.mr_wrong.CustomView.CustomViewActivity"></activity>
        <activity android:name="com.com.mr_wrong.Palette.PaletteActivity"></activity>
        <activity android:name="com.com.mr_wrong.RecyclerView.MyRecycleViewActivity"></activity>

        <activity android:name="com.com.mr_wrong.test.KotlinTest"></activity>
        <activity android:name="com.com.mr_wrong.test.SecondKotlinActivity"></activity>
        <activity android:name="com.com.mr_wrong.HandleImageLoader.HandleImageLoader"></activity>
        <activity
            android:name="com.com.mr_wrong.PageIndicator.IndicatorMainActivity"
            android:theme="@style/MyTheme"></activity>
        <activity android:name="com.com.mr_wrong.Jsoup.JsoupActivity"></activity>
        <activity android:name="com.com.mr_wrong.CustomAnimAndCamera.CustomAnimActivity">
            <intent-filter>
                <action android:name="info.70kg"></action>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.com.mr_wrong.Notification.NotificationActivity"
            android:configChanges="screenSize|orientation"></activity>
        <activity android:name="com.com.mr_wrong.AIDL.AIDLActivity"></activity>

        <service
            android:name="com.com.mr_wrong.AIDL.CalcService"
            android:process=":remote">
            <intent-filter>
                <action android:name="info.70kg.aidl.calc"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <provider
            android:name="com.com.mr_wrong.ContentProvider.BookProvider"
            android:authorities="com.example.mr_wrong.androidstudioproject.provider"
            android:permission="info.70kg.PROVIDER"
            android:process=":provider"></provider>

        <activity android:name="com.com.mr_wrong.ContentProvider.ProviderActivity"></activity>

        <service android:name="com.com.mr_wrong.Socket.TCPServerService"></service>

        <activity android:name="com.com.mr_wrong.Socket.TCPClientActivity"></activity>
        <activity android:name="com.com.mr_wrong.HandlerThread.HandlerThreadActivity"></activity>

        <activity android:name="com.com.mr_wrong.CustomView.PageTurnView.PageTurnActivity">
            <intent-filter>
                <action android:name="info.70kg.pageturn"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.com.mr_wrong.Image.MyImage.MyImageActivity"></activity>
        <activity android:name="com.com.mr_wrong.Settings.SettingsActivity"></activity>
        <activity android:name="com.com.mr_wrong.MySwipBacklayout.SimpleBookBackDemo"></activity>
        <activity android:name="com.com.mr_wrong.KLog.KLogActivity"></activity>
    </application>

</manifest>
